-
  //- 語言選單: 香港區
  var option_lang_HK = [
    {
      content: '繁體中文',
      value: 'zh-TW',
      href: 'index_TW_HK.html',
    },
    {
      content: '简体中文',
      value: 'zh-CN',
      href: 'index_CN_HK.html',
    },
    {
      content: 'English',
      value: 'en',
      href: 'index_EN_HK.html',
    },
  ]
  //- 語言選單: 越南區
  var option_lang_VN = [
    {
      content: '繁體中文',
      value: 'zh-TW',
      href: 'index_TW_VN.html',
    },
    {
      content: '简体中文',
      value: 'zh-CN',
      href: 'index_CN_VN.html',
    },
    {
      content: 'English',
      value: 'en',
      href: 'index_EN_VN.html',
    },
    {
      content: 'Tiếng Việt',
      value: 'vi',
      href: 'index_VI_VN.html',
    },
  ]
-
  //- 繁中資料
  var tw_data = [
    {
      nav_remind: '資安提醒',
      nav_faq: '常見問題',
      nav_contact: '聯絡客服',
      nav_download: '下載APP',
      nav_lang: '繁體中文',
      nav_area: ['香港', '越南'],
      area_href: [`index_TW_HK.html`,`index_VI_VN.html`],
      footer_download_title: '現在下載 easy 進入您的生活',
      footer_download_version_1: '版本號以',
      footer_download_version_2: 'MMAb2c',
      footer_download_version_3: '官網最新公告為準',
      footer_prize_title: '榮獲',
      footer_prize_version: 'ABF wholesale banking awards 2023-Initiative Award',
      footer_copyright: '©永豐銀行版權所有',
      footer_resolution: '【建議使用瀏覽器】 /建議解析度1024*768',
      footer_phone: '客戶服務專線 : 0800-588-800',
      footer_center: '客服中心',
      footer_announcement: '隱私權保護聲明',
    },
  ]
-
  //- 簡中資料
  var cn_data = [
    {
      nav_remind: '资安提醒',
      nav_faq: '常见问题',
      nav_contact: '联系客服',
      nav_download: '下载APP',
      nav_lang: '简体中文',
      nav_area: ['香港', '越南'],
      area_href: [`index_CN_HK.html`,`index_VI_VN.html`],
      footer_download_title: '现在下载 easy 进入您的生活',
      footer_download_version_1: '版本号以',
      footer_download_version_2: 'MMAb2c',
      footer_download_version_3: '官网最新公告为准',
      footer_prize_title: '榮獲',
      footer_prize_version: 'ABF wholesale banking awards 2023-Initiative Award',      
      footer_copyright: '©永豐銀行版權所有',
      footer_resolution: '【建議使用瀏覽器】 /建議解析度1024*768',
      footer_phone: '客戶服務專線 : 0800-588-800',
      footer_center: '客服中心',
      footer_announcement: '隱私權保護聲明',
    },
  ]
-
  //- 英文內容
  var en_data = [
    {
      nav_remind: 'Security Reminder',
      nav_faq: 'FAQs',
      nav_contact: 'Service Center',
      nav_download: 'Download App',
      nav_lang: 'English',
      nav_area: ['Hong Kong', 'Vietnam'],
      area_href: [`index_EN_HK.html`, `index_VI_VN.html`],
      footer_download_title: "Let's join us",
      footer_download_version_1: 'The version number is subject to the latest announcement on the ',
      footer_download_version_2: 'MMAb2c',
      footer_download_version_3: ' official website',
      footer_prize_title: '',
      footer_prize_version: 'ABF wholesale banking awards 2023-Initiative Award',
      footer_copyright: 'Copyright© Bank SinoPac',
      footer_resolution: '【Reconmended to use browser】/ Recommended resolution 1024*768',
      footer_phone: 'Customer Service Hotline: 0800-588-800',
      footer_center: 'Customer Service Center',
      footer_announcement: 'Privacy Statement',
    },
  ]
-
  //- 越南文內容
  var vi_data = [
    {
      nav_remind: 'Khuyến cáo bảo mật',
      nav_faq: 'Câu hỏi thường gặp',
      nav_contact: 'Liên hệ chúng tôi',
      nav_download: 'Tải App ngay',
      nav_lang: 'Tiếng Việt',
      nav_area: ['Hồng Kông', 'Việt Nam'],
      area_href: [`index_TW_HK.html`, `index_VI_VN.html`],
      footer_download_title: 'Tải về ngay để trải nghiệm nào',
      footer_download_version_1: 'Phiên bản easy APP dựa trên thông báo mới nhất trên trang web ',
      footer_download_version_2: 'MMAb2c',
      footer_download_version_3: ' làm chuẩn',
      footer_prize_title: '',
      footer_prize_version: 'ABF wholesale banking awards 2023-Initiative Award',
      footer_copyright: 'Bản quyền ngân hàng SinoPac',
      footer_resolution: '【Khuyến khích sử dụng trình duyệt】/ Độ phân giải 1024*768 ',
      footer_phone: 'Dịch vụ khách hàng: 0800-588-800',
      footer_center: 'Trung tâm CSKH',
      footer_announcement: 'Cam kết bảo mật',
    },
  ]
  