extends _layout_CN_HK.pug

block content

  article
    section#sec_kv.section-kv
      .section-kv__decobox
        .section-kv__decobox-banner
          .section-kv__decobox-banner--bg
      .section-kv__heading
        h1.section-kv__h1
          img(src="images/svg/EASY.svg", alt="EASY APP")
        h2.section-kv__h2.noto-900 海外行动银行，香港区登场
        h3.section-kv__h3.noto-400 掌握easy 丰富生活
          br
          span.section-kv__span Great mind. Easy style.
        p.section-kv__p.noto-400 香港分行推出手机银行应用程序easy APP，

          br
          |一机在手，掌握账户状况，理财更easy!
      .section-kv_device
        .section-kv_device-arrow
          img(src="images/img_kv-arrow1.svg", alt="")
        .section-kv_device-arrow
          img(src="images/img_kv-arrow2.svg", alt="")
        .section-kv_device-blueBox.para-Right(data-speed='0.5')
          img(src="images/img_kv-blueBox.svg", alt="")
        .section-kv_device-bluePink.para-Right(data-speed='0.1')
          img(src="images/img_kv-bluePinkBox.svg", alt="")
        .section-kv_device-yellowDot.yellowDot.para-Right(data-speed='0.1')


    section#sec_01.section-sec01
      .container
        //- h2.section-sec01__h2 精簡功能 easy使用
        .section-sec01__features
          .section-sec01__body.section-sec01__sm1(data-aos="fade-up" data-aos-duration="800")
            //- .section-sec01__item.step1
            .section-sec01__img.section-sec01__img1
              img(src="images/hk_img-content1.svg", alt="全面帳戶管理")
            .section-sec01__wrap
              .section-sec01__text
                h4.section-sec01__text-h4 全面账户管理
                ul.section-sec01__text-ul
                  li 提供实时账户余额，账户总览一目了然
                  li 可查询长达3个月内的交易记录，自选日期区间快速查账不费力
                  li 提供定存、贷款明细及综合对账单查询，账户管理全掌握
          .section-sec01__body.section-sec01__mgt.section-sec01__sm2(data-aos="fade-up" data-aos-duration="1000")
            //- .section-sec01__item.step1
            .section-sec01__img.section-sec01__img2.step1-mgl
              img(src="images/hk_img-content2.svg", alt="便利的匯款& 轉帳服務")
            .section-sec01__wrap
              .section-sec01__text
                h4.section-sec01__text-h4 便利的汇款& 转账服务
                ul.section-sec01__text-ul
                  li 提供多币别全球导出汇款服务，交易轻松转，解决跨境大小事
                  li 提供汇出汇款查询，随时检阅汇款处理状态与汇款明细
          .section-sec01__body.section-sec01__sm3(data-aos="fade-up" data-aos-duration="1200")
            //- .section-sec01__item.step1
            .section-sec01__img.section-sec01__img3.pic3
              img(src="images/hk_img-content3.svg", alt="最新消息 & 利率資訊")
            .section-sec01__wrap
              .section-sec01__text
                h4.section-sec01__text-h4 最新消息 & 利率资讯
                ul.section-sec01__text-ul 
                  li 检阅利率资讯，助你掌握利率走势
                  li 点击最新消息，银行信息不漏接

          .section-sec01__body.section-sec01__mgt.section-sec01__sm4(data-aos="fade-up" data-aos-duration="1400")
            //- .section-sec01__item.step1
            .section-sec01__img.section-sec01__img4.step1-mgl.pic4
              img(src="images/hk_img-content4.svg", alt="雙重身分認證 & 快速登入")
            .section-sec01__wrap
              .section-sec01__text
                h4.section-sec01__text-h4 双重身分认证 & 快速登入
                ul.section-sec01__text-ul
                  li 采用双重身分认证机制，双重保障，加强网络交易安全
                  li 通过身分验证及绑定手机后，可按需要设定快速登入，免输密码秒登入
      
      //- 黃點點
      .section-sec01-yellowDot
        .section-sec01-yellowDot_place.yellowDot.para-sec01-Right(data-speed='0.2')
        .section-sec01-yellowDot_place.yellowDot.para-sec01-Left(data-speed='0.5')
        .section-sec01-yellowDot_place.yellowDot.para-sec01-Right(data-speed='0.4')
        .section-sec01-yellowDot_place.yellowDot.para-sec01-Left(data-speed='0.6')
        .section-sec01-yellowDot_place.yellowDot.para-sec01-Right(data-speed='0.1')
      //- 藍點點
      .section-sec01-blueDot
        .section-sec01-blueDot_place.blueDot.para-sec01-Right(data-speed='0.5')
        .section-sec01-blueDot_place.blueDot.para-sec01-Left(data-speed='0.2')
        .section-sec01-blueDot_place.blueDot.para-sec01-Right(data-speed='0.3')
      //- 淺藍點點
      .section-sec01-lightBlueDot
        .section-sec01-lightBlueDot_place.lightBlueDot.para-sec01-Right(data-speed='0.2')
        .section-sec01-lightBlueDot_place.lightBlueDot.para-sec01-Left(data-speed='0.1')
      //- 藍色漸層
      .section-sec01-blueGradient
        .section-sec01-blueGradient_place.blueGradient.para-box-Right(data-speed='0.8')
        .section-sec01-blueGradient_place.blueGradient.para-box-Right(data-speed='0.1')
        .section-sec01-blueGradient_place.blueGradient.para-box-Left(data-speed='0.3')
      //- 藍粉框
      .section-sec01-bluePinkBox.para-sec01-Right(data-speed='0.4')
        img(src="images/img_kv-bluePinkBox.svg", alt="")
      //- 藍框
      .section-sec01-blueBox.para-sec01-Left(data-speed='0.7')
        img(src="images/img_kv-blueBox.svg", alt="")
      //- 粉點點
      .section-sec01-pinkDot.para-sec01-Right(data-speed='0.5')
        img(src="images/img_kv-pinkDot.svg", alt="")
                    
    include _lightbox.pug

  .cursor 
  .cursor__inner

