footer{
  padding-top: 66px;
  background: #F3FAFF url('../images/svg/bg_footer.svg') no-repeat;
  background-size: 2261px auto;
  background-position: calc(50% + 130px) -4.5%;

  .container{
    position: relative;
    display: flex;
    padding: 208px 0 30px 77px ;
  }
  .bg{
    img{
      position: absolute;

      &:nth-child(1){
        top: 70px;
        right: calc(50% - 966px);
        width: 798px;
        height: 221px;  
      }
      &:nth-child(2){
        top: 50px;
        right: calc(50% - 877px);
        width: 973.5px;
        height: 258px;  
      }
    }
  }

  .download{
    display: flex;
    flex-direction: column;
    &-title{
      font-size: 23.1px;
      text-align: center;
      letter-spacing: 1.2px;
      // margin-bottom: 18px;
      &_vivn {
        font-weight: 900;
      }
    }
    &-wrap{
      display: flex;
      padding: 18px 5px 12px;
      .qrcode{
        @include size(115px, 115px);
        margin-right: 20px;
      }
      .link{
        width: 152.7px;
        height: 51px;
        img{
          &:first-child{
            margin-bottom: 11px;
          }
        }
      }
    }
    &-info{
      font-size: 12px;
      text-align: left;
      max-width: 320px;
      a{
        display: inline;
        color: #fff;
        text-decoration: underline;
        // text-underline-offset: 3px;
      }
    }
    &-version{
      display: inline;
    }

  }
  .line{
    width: 2px;
    height: 149px;
    background-color: #fff;
    margin: 52px 62px;
  }
  .prize{
    width: 217px;
    height: 112px;
    span{
      display: block;
      font-size: 23.1px;
      min-height: 40.5px;
    }
    img{
      margin: 16px 0;
    }
    p{
        font-size: 12px;
        text-align: left; 
        padding: 0 5px;
    }
  }

  .copyright {
    line-height: 2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    p {
      margin: 0 10px;

      @if $isDawho {
        span {
          display: inline-block;

          &::before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-left: 7px;
            margin-right: 8px;
            background: url("../images/sinopac-logo-xs.svg") no-repeat 0 0;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }

  .container-2{
    background: #254a91;
    max-width: 100%;
    padding: 10px;
  }
  .footer-link {
    color: white;
    margin: 0 10px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 25%;
      right: -10px;
      height: 60%;
      width: 1px;
      background-color: #93abd8;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  // 1024
  @media (max-width: #{$pcrwd-breakpoint + 'px'}) {
    background-size: vw(2261px) auto;
  
    .container{
      padding: vw(208px) 0 vw(30px) vw(77px) ;
    }
    .bg{
      img{
  
        &:nth-child(1){
          top: vw(50px);
          right: calc(50% - #{vw(966px)});
          width: vw(798px);
          height: vw(221px);  
        }
        &:nth-child(2){
          top: vw(20px);
          right: calc(50% - #{vw(877px)});
          width: vw(973.5px);
          height: vw(258px);  
        }
      }
    }
  
    .download{
      &-title{
        font-size: vw(23.1px);
      }
      &-wrap{
        padding: vw(18px) vw(5px) vw(12px);
        .qrcode{
          @include size(vw(115px), vw(115px));
          margin-right: vw(20px);
        }
        .link{
          width: vw(152.7px);
          height: vw(51px);
          img{
            &:first-child{
              margin-bottom: vw(11px);
            }
          }
        }
      }
      &-info{
        // font-size: vw(11.7px);
        max-width: vw(320px);
      }
  
    }
    .line{
      width: vw(2px);
      height: vw(149px);
      margin: vw(52px) vw(62px);
    }
    .prize{
      width: vw(217px);
      height: vw(112px);
      span{
        font-size: vw(23.1px);
        min-height: vw(40.5px);
      }
      img{
        margin: vw(16px) 0;
      }
      p{
          // font-size: vw(11.7px);
          min-width: 200px;
          padding: 0 vw(5px);
      }
    }
    .copyright {
      font-size: 12px;
      .resolution{
        display: none;
      }
    }
  
  }

  // 768
  @media (max-width: #{$mblrwd-breakpoint + 'px'}) {
    padding-top: vwm(60px);
    background-size: vwm(2261px) auto;
    background-position: 30% -15.5%;
  
    .container{
      position: relative;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      padding: vwm(267px) 0 vwm(297px);
    }
    .bg{

      img{
  
        &:nth-child(1){
          top: vwm(105px);
          right: calc(50% - #{vwm(1110px)});
          width: vwm(798px);
          height: vwm(221px);  
  
        }
        &:nth-child(2){
          top:vwm(60px);
          right: calc(50% - #{vwm(842px)});
          width: vwm(973.5px);
          height: vwm(258px);    
        }
      }
    }
  
    .download{
      align-items: center;
      &-title{
        margin-top: vwm(-9px);
        font-size: vwm(50px);
        letter-spacing: vwm(2.6px);
      }
      &-wrap{
        padding: vwm(48px) vwm(69px) vwm(56px);
        justify-content: space-around;
        .qrcode{
          @include size(vwm(197.5px), vwm(197.5px));
          margin: vwm(4px) 0 0 vwm(11px);
        }
        .link{
          @include size(vwm(265px), vwm(90px));
          margin-left: vwm(27px);
          img{
            &:first-child{
              margin-bottom: vwm(19px);
            }
          }
        }
      }
      &-info{
        font-size: vwm(30px);
        margin-right: vwm(21px);
        letter-spacing: vwm(0.4px);
        max-width: vwm(507px);
        a{
          text-decoration: none;
        }
      }
  
    }
    .line{
      width: vwm(543.5px);
      height: vwm(2px);
      margin: vwm(10px) 0;
    }
    .prize{
      @include size(vwm(451px), vwm(237.8px));
      span{
        font-size: vwm(50px);
        margin-left: vwm(35px);
        letter-spacing: vwm(2.2px);
      }
      img{
        margin: vwm(22px) 0 vwm(49px);
        // 比照設計稿(未置中)
        // margin: vwm(22px) 0 vwm(49px) 19px;
      }
      p{
          font-size: vwm(30px);
          line-height: 1.3;
          letter-spacing: vwm(1.5px);
          padding: 0;
          margin-left: vwm(-71px);

      }
    }
    .copyright {
      display: block;
      font-size: vwm(30px);
      line-height: 1.5;
      height: auto;

      >p {
        display: block;
        margin: 0 vwm(10px);
      }
    }

  
  }
}
